<footer class="footer {{ options.custom_class }}">
    <div class="container">
        <div class="footer-content grid">

                <div class="menu-col">
                    <ul class="footer-menu-col menu-ul flex">
                        {% for menu_item in options.footer_menu %}
                            <li class="footer-menu-item">
                                <a href="{{ menu_item.footer_link.url }}" class="">{{ menu_item.footer_link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="logo-col">
                    <img src="{{ options.footer_logo.url }}" alt="{{ options.footer_logo.url }}">
                </div>
                <div class="media-col">
                    <p>{{ options.social_media_text }}</p>
                    <div class="media-links-content flex">
                        {% for menu_media in options.footer_media_links %}
                            
                            <a href="{{  menu_media.media_link.url }}" class=""> <img src="{{  menu_media.media_image.url }}" alt="{{  menu_media.media_image.alt }}"> </a>
                            
                        {% endfor %}
                    </div>
                    
                    <a class="privacy-policy" href="{{  options.privacy_policy_link.url }}" class="">{{ options.privacy_policy_link.title }}</a>
                    
                </div>

            <div class="credentials-col flex">
               
                <p class="">{{ options.credentials_text }}</p>
            </div>
        </div>

        
    </div>
    
    <div class="back-footer {{ function('is_front_page') ? "" : "hide-image" }}"><img src="{{ options.footer_background.url }}" alt=""></div>
   
    
</footer>


 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css" integrity="sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/brands.min.js" integrity="sha512-ojD9xRtdGdJLd9K/vMhV6GyO8G9wVrofDXmX4AjrKPctyKTLaVVwuAJhZanincPnSprZv1Nc3iDpxIi/6+Xv7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>